CompileFlags:
    Add: [
        -I/home/leone/EnclaveFuzz/SGXFuzzerRT,
        -I/home/leone/EnclaveFuzz/SGXSanPass,
        -I/home/leone/EnclaveFuzz/SGXSanRT,
        -I/home/leone/EnclaveFuzz/SGXSanRT/SGXSanRTApp,
        -I/home/leone/EnclaveFuzz/SGXSanRT/linux-sgx-mini/common/inc/internal,
        -I/home/leone/EnclaveFuzz/SGXSanRT/linux-sgx-mini/common/inc/tlibc,
        -I/home/leone/EnclaveFuzz/SGXSanRT/linux-sgx-mini/sdk/trts/,
        -I/home/leone/EnclaveFuzz/SGXSanRT/linux-sgx-mini/sdk/simulation/tinst,
        -I/home/leone/EnclaveFuzz/build/enclave_fuzz,
        -I/home/leone/EnclaveFuzz/ThirdParty/linux-sgx/common/inc,
        -I/home/leone/EnclaveFuzz/ThirdParty/linux-sgx/common/inc/internal,
        -I/home/leone/EnclaveFuzz/ThirdParty/linux-sgx/psw/urts,
        -I/home/leone/EnclaveFuzz/ThirdParty/linux-sgx/psw/urts/linux,
        -I/home/leone/EnclaveFuzz/ThirdParty/json/single_include,
        -I/home/leone/EnclaveFuzz/ThirdParty/magic_enum/include,
        -I/usr/lib/llvm-13/lib/clang/13.0.1/include/fuzzer,
        -I/usr/lib/llvm-13/include/,
        -I/usr/include/llvm-13,
        # TALOS
        # -I/home/leone/EnclaveFuzz/SGX_APP/TaLoS/src/libressl/crypto,
        # -I/home/leone/EnclaveFuzz/SGX_APP/TaLoS/src/libressl/include/,
        # -I/home/leone/EnclaveFuzz/SGX_APP/TaLoS/src/libressl/include/compat,
        # -DCOMPILE_WITH_INTEL_SGX,
        # WAMR
        -I/home/leone/EnclaveFuzz/SGX_APP/wasm-micro-runtime/core/iwasm/include,
        -I/home/leone/EnclaveFuzz/SGX_APP/wasm-micro-runtime/core/shared/utils,
        -I/home/leone/EnclaveFuzz/SGX_APP/wasm-micro-runtime/core/shared/platform/linux-sgx,
    ]