CompileFlags:
    Add: [
        -I/home/leone/EnclaveFuzz/SGXFuzzerRT,
        -I/home/leone/EnclaveFuzz/SGXSanPass,
        -I/home/leone/EnclaveFuzz/SGXSanRT,
        -I/home/leone/EnclaveFuzz/SGXSanRT/SGXSanRTApp,
        -I/home/leone/EnclaveFuzz/build/enclave_fuzz,
        -I/home/leone/EnclaveFuzz/install/enclave_fuzz/include,
        # -I/home/leone/EnclaveFuzz/install/enclave_fuzz/sgxssl/include,
        # ehsm
        -I/home/leone/EnclaveFuzz/sgx_apps/ehsm/include,
        # linux-sgx
        -I/home/leone/EnclaveFuzz/third_party/linux-sgx/common/inc,
        -I/home/leone/EnclaveFuzz/third_party/linux-sgx/common/inc/internal,
        # -I/home/leone/EnclaveFuzz/third_party/linux-sgx/psw/urts,
        # -I/home/leone/EnclaveFuzz/third_party/linux-sgx/psw/urts/linux,
        -I/home/leone/EnclaveFuzz/third_party/linux-sgx/sdk/simulation/tinst,
        -I/home/leone/EnclaveFuzz/third_party/linux-sgx/sdk/trts,
        # LLVM
        # -I/home/leone/EnclaveFuzz/third_party/llvm-project/llvm/include,
        -I/home/leone/EnclaveFuzz/third_party/llvm-project/compiler-rt/include/fuzzer,
        # -I/home/leone/EnclaveFuzz/install/llvm-project/include,
        # TALOS
        # -I/home/leone/EnclaveFuzz/sgx_apps/TaLoS/src/libressl/crypto,
        # -I/home/leone/EnclaveFuzz/sgx_apps/TaLoS/src/libressl/include/,
        # -I/home/leone/EnclaveFuzz/sgx_apps/TaLoS/src/libressl/include/compat,
        # -DCOMPILE_WITH_INTEL_SGX,
        # WAMR
        -I/home/leone/EnclaveFuzz/sgx_apps/wasm-micro-runtime/core/iwasm/include,
        # -I/home/leone/EnclaveFuzz/sgx_apps/wasm-micro-runtime/core/iwasm/common,
        # -I/home/leone/EnclaveFuzz/sgx_apps/wasm-micro-runtime/core/iwasm/libraries/libc-wasi/sandboxed-system-primitives/src,
        # -I/home/leone/EnclaveFuzz/sgx_apps/wasm-micro-runtime/core/shared/mem-alloc,
        -I/home/leone/EnclaveFuzz/sgx_apps/wasm-micro-runtime/core/shared/utils,
        -I/home/leone/EnclaveFuzz/sgx_apps/wasm-micro-runtime/core/shared/platform/linux-sgx,
        # -I/home/leone/EnclaveFuzz/sgx_apps/wasm-micro-runtime/core/shared/platform/linux-sgx,
        # -I/home/leone/EnclaveFuzz/sgx_apps/wasm-micro-runtime/core/shared/platform/include,
        # -I/home/leone/EnclaveFuzz/sgx_apps/wasm-micro-runtime/samples/sgx-ra/build/librats/include,
        -DWASM_ENABLE_LIBC_BUILTIN,
        # -DWASM_ENABLE_LIBC_WASI,
        # -DWASM_ENABLE_MODULE_INST_CONTEXT,
        # -DWASM_ENABLE_LIB_PTHREAD,
        # -DWASM_ENABLE_LIB_RATS,
        # -DWASM_ENABLE_SHARED_MEMORY,
        # -DWASM_ENABLE_THREAD_MGR,
        # -DWASM_ENABLE_INTERP,
        # -DWASM_ENABLE_BULK_MEMORY,
        # -DWASM_ENABLE_FAST_INTERP,
        # -DWASM_ENABLE_LABELS_AS_VALUES,
        # sgxwallet
        # -I/home/leone/EnclaveFuzz/sgx_apps/sgxwallet/secure_enclave/,
        # -I/home/leone/EnclaveFuzz/sgx_apps/sgxwallet/sgx-gmp,
        # -I/home/leone/EnclaveFuzz/sgx_apps/sgxwallet/libBLS,
        # -I/home/leone/EnclaveFuzz/sgx_apps/sgxwallet/libBLS/libff,
        # -I/home/leone/EnclaveFuzz/sgx_apps/sgxwallet/third_party/SCIPR,
    ]