[submodule "third_party/linux-sgx"]
	path = third_party/linux-sgx
	url = git@github.com:LeoneChen/linux-sgx.git
[submodule "sgx_apps/intel-sgx-ssl"]
	path = sgx_apps/intel-sgx-ssl
	url = git@github.com:LeoneChen/intel-sgx-ssl.git
[submodule "third_party/llvm-project"]
	path = third_party/llvm-project
	url = git@github.com:LeoneChen/llvm-project.git
[submodule "third_party/edger8r"]
	path = third_party/edger8r
	url = git@github.com:LeoneChen/edger8r.git
[submodule "sgx_apps/sgx-wallet"]
	path = sgx_apps/sgx-wallet
	url = git@github.com:LeoneChen/sgx-wallet.git
[submodule "sgx_apps/wasm-micro-runtime"]
	path = sgx_apps/wasm-micro-runtime
	url = git@github.com:LeoneChen/wasm-micro-runtime.git
[submodule "EnclavePatch-Data"]
	path = EnclavePatch-Data
	url = git@github.com:LeoneChen/EnclavePatch-Data.git
[submodule "sgx_apps/sgxwallet"]
	path = sgx_apps/sgxwallet
	url = git@github.com:LeoneChen/sgxwallet.git
[submodule "sgx_apps/SampleSGXSan"]
	path = sgx_apps/SampleSGXSan
	url = git@github.com:LeoneChen/SampleSGXSan.git
[submodule "sgx_apps/mobilecoin"]
	path = sgx_apps/mobilecoin
	url = git@github.com:mobilecoinfoundation/mobilecoin.git
